#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}